.navbar {
  font-weight: bold;
  background-color: #fff;
  padding-right: calc(2.8rem * 0.9);
  padding-left: calc(2.8rem * 0.9);
}

.navbar .navbar-brand {
  transition: all linear 0.8s;
  width: 20%;
}

.navbar .resize {
  transition: all linear 0.6s;
  width: 14%;
  font-size-adjust: 1rem;
}

.offcanvas-title {
  width: 20%;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  color: rgb(34, 21, 6);
}

.navbar-nav .nav-link:hover {
  color: rgb(207, 168, 68);
}

@media (hover: hover) and (pointer: fine) {
  .navbar {
    font-weight: bold;
    background-color: #fff;
  }

  .navbar .navbar-brand {
    transition: all linear 0.6s;
    width: 10%;
  }

  .navbar .resize {
    transition: all linear 0.6s;
    width: 4%;
    font-size: 1rem;
  }

  .navbar-nav .nav-link {
    font-size: 1.2rem;
    color: rgb(34, 21, 6);
  }

  .navbar-nav .nav-link:hover {
    color: rgb(207, 168, 68);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar .navbar-brand {
    transition: all linear 0.8s;
    width: 10%;
  }
  
  .navbar .resize {
    transition: all linear 0.6s;
    width: 7%;
    font-size-adjust: 1rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
  
}

@media screen and (min-width: 2560px) {
  
}