@media (min-width: 768px) and  (max-width: 2560px) {
    .portfolio-item a {
        display: flex;
        justify-content: center;
    }
   
    .portfolio-item a img {
        width: 80%;
        
    }
}


