.posts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.posts .post-col {
  padding: 0 0.5rem;
}

.posts a {
  text-decoration: none;
  color: rgb(34, 21, 6);
}

@media (hover: hover) and (pointer: fine) {
  .posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .posts .post-col {
    padding: 0;
  }

  .post-col {
    margin: 0 0 0 0;
  }

  .posts .card {
    width: 94%;
    height: 350px;
  }
}
