.home-container {
  height: 100%; }
  .home-container .main-container h2 {
    font-size: 2.5rem;
    text-align: center; }
    .home-container .main-container h2 span {
      background-color: #ffb700;
      color: #fff; }
  .home-container .main-container br {
    display: none; }
  .home-container .main-container hr {
    width: 30%;
    border: 3px solid #ffb700;
    margin: 1rem 0; }
  .home-container .main-container .full-serivice-container,
  .home-container .main-container .build-relationships-container,
  .home-container .main-container .reviews-container,
  .home-container .main-container .homepage-portfolio-container {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .home-container .main-container .full-serivice-container p,
    .home-container .main-container .build-relationships-container p,
    .home-container .main-container .reviews-container p,
    .home-container .main-container .homepage-portfolio-container p {
      margin-top: 1.3rem;
      padding: 0;
      font-size: 1.5rem;
      text-align: center; }
  .home-container .main-container .divs {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem; }
    .home-container .main-container .divs .div1 {
      background-image: url("../assets/web-design.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 300px;
      position: relative; }
    .home-container .main-container .divs .div2 {
      background-image: url("../assets/web-maintenance.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 300px;
      position: relative; }
    .home-container .main-container .divs .div3 {
      background-image: url("../assets/web-improvement.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 300px;
      position: relative; }
    .home-container .main-container .divs .div-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(34, 21, 6, 0.548);
      overflow: hidden;
      width: 100%;
      height: 100%;
      transition: 0.5s ease; }
    .home-container .main-container .divs h1,
    .home-container .main-container .divs h3 {
      color: #fff;
      font-size: 3rem;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
    .home-container .main-container .divs h1 {
      top: 35%; }
    .home-container .main-container .divs #development {
      top: 70%; }
    .home-container .main-container .divs .div1:hover .div-content,
    .home-container .main-container .divs .div2:hover .div-content,
    .home-container .main-container .divs .div3:hover .div-content {
      height: 100%; }
  .home-container .main-container .skills {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%; }
    .home-container .main-container .skills .skill-set {
      display: grid;
      grid-template-rows: 1fr 0.1fr 1fr;
      place-items: center;
      row-gap: 0.1rem;
      margin-bottom: 1rem; }
      .home-container .main-container .skills .skill-set img {
        width: 25%; }
      .home-container .main-container .skills .skill-set p {
        text-align: center;
        padding: 0 2rem;
        font-size: 1.1rem; }
  .home-container .main-container .reviews-container .reviews .review {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem; }
    .home-container .main-container .reviews-container .reviews .review p {
      font-size: 1.8rem;
      font-style: italic;
      line-height: 2rem;
      margin-top: 2rem; }
    .home-container .main-container .reviews-container .reviews .review .quote {
      font-family: 'News Cycle', sans-serif;
      font-style: none;
      font-size: 2rem;
      color: #ffb700; }
    .home-container .main-container .reviews-container .reviews .review .image-container {
      display: flex;
      justify-content: center; }
      .home-container .main-container .reviews-container .reviews .review .image-container .review-image {
        max-width: 50%;
        border-radius: 50%;
        border: 0.1px solid #221506; }
  .home-container .main-container .portfolio-item-2 {
    text-align: center;
    position: relative;
    width: 70%; }
    .home-container .main-container .portfolio-item-2 img {
      display: block;
      width: 100%;
      height: auto;
      border: 8px solid #223d58;
      border-radius: 2px; }
    .home-container .main-container .portfolio-item-2 .img-info {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 70%;
      width: 100%;
      opacity: 0;
      transition: 1s ease;
      background-color: #0f1d2b; }
  .home-container .main-container .ready-container {
    background-color: #f2f2f2;
    width: 80%;
    height: 500px;
    margin: auto; }
    .home-container .main-container .ready-container hr {
      margin: 0 auto 1rem; }
    .home-container .main-container .ready-container .ready-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-top: calc(10% - 40px); }
  .home-container .parallax1 {
    background-image: url("../assets/pexels-hasan-albari-1229861.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; }

@media (hover: hover) and (pointer: fine) {
  .home-container {
    height: 100%;
    margin-top: 2rem; }
    .home-container .carousel .carousel-inner {
      max-height: 500px; }
    .home-container .main-container hr {
      width: 10%;
      border: 3px solid #ffb700;
      margin: 1rem 0; }
    .home-container .main-container br {
      display: block; }
    .home-container .main-container .full-serivice-container,
    .home-container .main-container .build-relationships-container,
    .home-container .main-container .reviews-container,
    .home-container .main-container .homepage-portfolio-container {
      margin: 6rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .home-container .main-container .full-serivice-container p,
      .home-container .main-container .build-relationships-container p,
      .home-container .main-container .reviews-container p,
      .home-container .main-container .homepage-portfolio-container p {
        margin-top: 1.3rem;
        padding: 0 10rem;
        text-align: center; }
    .home-container .main-container .build-relationships-container {
      margin: 9rem 0 6rem; }
    .home-container .main-container .divs {
      width: 100%;
      display: grid;
      column-gap: 2rem;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center; }
      .home-container .main-container .divs .div1 {
        width: 100%;
        height: 300px; }
      .home-container .main-container .divs .div2 {
        width: 100%;
        height: 300px; }
      .home-container .main-container .divs .div3 {
        width: 100%;
        height: 300px; }
    .home-container .main-container .skills {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%; }
      .home-container .main-container .skills .skill-set {
        display: grid;
        justify-content: center;
        row-gap: 1.5rem;
        align-items: center;
        margin-bottom: 6rem; }
        .home-container .main-container .skills .skill-set img {
          width: 20%; }
        .home-container .main-container .skills .skill-set h4 {
          text-align: center;
          margin: 0;
          padding: 0; }
        .home-container .main-container .skills .skill-set p {
          font-size: 1.3rem;
          text-align: center;
          padding: 0 1.5rem;
          margin: 0; }
    .home-container .main-container .parallax1 {
      background-image: url("../assets/pexels-hasan-albari-1229861.jpeg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-attachment: fixed;
      height: 85vh; }
    .home-container .main-container .reviews-container .reviews {
      margin-bottom: 2rem; }
      .home-container .main-container .reviews-container .reviews .review {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1rem; }
        .home-container .main-container .reviews-container .reviews .review p {
          font-size: 2rem;
          font-style: italic;
          line-height: 2rem;
          padding: 0rem;
          margin: 3rem 0; }
        .home-container .main-container .reviews-container .reviews .review .quote {
          font-size: 3rem; }
        .home-container .main-container .reviews-container .reviews .review .image-container {
          display: flex; }
          .home-container .main-container .reviews-container .reviews .review .image-container .review-image {
            display: flex;
            align-items: center;
            max-width: 98%;
            border: 0.1px solid #221506; }
    .home-container .main-container .parallax2 {
      background-image: url("../assets/placeholder.jpeg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-attachment: fixed;
      height: 50vh; }
    .home-container .main-container .homepage-portfolio-container h2 {
      margin-top: 2rem; }
    .home-container .main-container .homepage-portfolio-container hr {
      margin-bottom: 2rem; }
    .home-container .main-container .homepage-portfolio-container .portfolio-items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      row-gap: 0.1rem;
      padding: 1rem 0 5rem 0;
      grid-column-gap: 12px;
      grid-row-gap: 15px;
      justify-items: center;
      margin-top: 5rem; }
      .home-container .main-container .homepage-portfolio-container .portfolio-items .portfolio-item {
        text-align: center;
        position: relative;
        margin-top: 14rem;
        width: 75%; }
        .home-container .main-container .homepage-portfolio-container .portfolio-items .portfolio-item img {
          display: block;
          width: 100%;
          height: auto;
          border: 1.5px solid #221506;
          border-radius: 2px; }
        .home-container .main-container .homepage-portfolio-container .portfolio-items .portfolio-item .img-info {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 1s ease;
          background-color: rgba(34, 21, 6, 0.904); }
        .home-container .main-container .homepage-portfolio-container .portfolio-items .portfolio-item h4 {
          margin: 1rem; }
      .home-container .main-container .homepage-portfolio-container .portfolio-items .portfolio-item-2 {
        text-align: center;
        position: relative;
        width: 75%; }
        .home-container .main-container .homepage-portfolio-container .portfolio-items .portfolio-item-2 img {
          display: block;
          width: 100%;
          height: auto;
          border: 1.5px solid #221506;
          border-radius: 2px; }
        .home-container .main-container .homepage-portfolio-container .portfolio-items .portfolio-item-2 .img-info {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 70%;
          width: 100%;
          opacity: 0;
          transition: 1s ease;
          background-color: rgba(34, 21, 6, 0.904); }
        .home-container .main-container .homepage-portfolio-container .portfolio-items .portfolio-item-2 h4 {
          margin: 1rem; }
      .home-container .main-container .homepage-portfolio-container .portfolio-items .portfolio-item a:hover img {
        transform: scale(0.5);
        transition: 0.9s ease; }
      .home-container .main-container .homepage-portfolio-container .portfolio-items .portfolio-item-2 a:hover .img-info {
        opacity: 1; }
      .home-container .main-container .homepage-portfolio-container .portfolio-items .portfolio-item-2 a:hover img {
        transform: scale(0.5);
        transition: 0.9s ease; }
      .home-container .main-container .homepage-portfolio-container .portfolio-items .portfolio-item a:hover .img-info {
        opacity: 1; }
      .home-container .main-container .homepage-portfolio-container .portfolio-items .text {
        color: #fff;
        font-size: 20px;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        --webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center; }
        .home-container .main-container .homepage-portfolio-container .portfolio-items .text h3 {
          padding: 0 1rem; }
    .home-container .main-container .ready-container {
      margin-bottom: 5rem; }
      .home-container .main-container .ready-container .ready-header {
        padding-top: 12%; }
        .home-container .main-container .ready-container .ready-header p {
          padding: 0 12rem; }
      .home-container .main-container .ready-container .ready-btn {
        display: flex;
        justify-content: center;
        margin-top: 2.5rem; }
        .home-container .main-container .ready-container .ready-btn .btn {
          font-size: 1.8rem;
          font-weight: 500;
          color: #ffffff;
          border-radius: 0; } }
