.blog-post-container {
  padding-right: calc(2.8rem * 0.9);
  padding-left: calc(2.8rem * 0.9);
}


@media (hover: hover) and (pointer: fine) {
  .blog-post-header {
    width: 100%;
    position: relative;
    margin-bottom: 7rem;
  }

  .blog-post-header-background {
    height: 450px;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #f0cd7b;
  }

  .header-img-and-text-container {
    display: flex;
    flex-direction: column;
  }

  .header-content-container {
    display: flex;
    width: 94.4%;
    position: absolute;
    top: 5.5%;
  }

  .header-content-container img {
    width: 85%;
    height: 550px;
    position: relative;
    left: 2.5rem;
    border: 2px solid #fff;
    object-fit: cover;
  }

  .header-content-container h2 {
    padding-right: 2rem;
  }

  .header-content-container p {
    padding-right: 4rem;
    font-size: 1.2rem;
  }

  .header-text {
    height: 420px;
    position: relative;
  }

  .short-description {
    margin-top: 0.6rem;
  }

  .read-time {
    position: absolute;
    font-weight: bold;
  }

  .author-info {
    display: flex;
    width: 49.5%;
    position: relative;
    left: 35.5rem;
    margin-top: 1.5rem;
  }

  .info-pic {
    display: flex;
    justify-content: flex-end;
  }

  .author-info img {
    width: 50%;
    border-radius: 50%;
  }

  .info-text {
    width: 100%;
    margin-top: 0.7rem;
  }

  .info-text h5,
  h6,
  small {
    margin: 0 0.5rem;
  }

  .blog-post {
    padding: 0 10rem;
    font-size: 1.3rem;
  }
}
